
header {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-image: url('../../public/images/WEST-VIRGINIA.jpeg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
font-size: 4rem;
margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    width: 70%;
    align-self: center;
    margin: 25px auto;
}