
header {
    text-align: center;
    padding: 20px;
    color: #fff;
    background-image: url('../../public/images/WEST-VIRGINIA.jpeg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
font-size: 4rem;
margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    width: 80%;
    align-self: center;
    margin: 35px auto;
}

.header-container {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 25px;
    margin: 5px;
    width: 75%;    
    margin: auto;
    padding: 5px;
}